version: '2'
# Define the services/containers to be run
services:
  nodejs_server: # name of the NodeJS server
    build: ./ # specify the directory of the Dockerfile 
    ports:
      - "4000:4000" # specify the NodeJS port and open up port 4000 on docker
    links:
      - database_mongodb # name we use for mongoDB database_mongodb 
    volumes: # Allows changes to local host to sync with docker container
      - ./:/server # should be the same as your WORKDIR in your DockerFile 
    depends_on: # tells the database_mongodb to start first before the NodeJS app
      - database_mongodb
     
  database_mongodb: # name of the mongoDB database_mongodb 
    image: mongo # this is the mongoDB image if you wanted MySQL you would use mysql 
    ports: 
      - "27017:27017" # specify the mongoDB port and connect port 27017 to docker
    environment:
      MONGO_INITDB_DATABASE: my_db # name of example database
    volumes: # Add your mysql data to auto run on image startup
      - ./my_data/:/docker-entrypoint-initdb.d/
  